@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
*{
    margin: 0;
    padding: 0;
   
}
body{
    background-size: cover;
}
.main-container{
    display: flex;
    width: 80%;
    margin: 10px auto; 
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
			0 10px 10px rgba(0,0,0,0.22);
    background-color: #fff;
}

.left-container{
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
    width:10%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.left-container img{
    width: 200px;
    height: 200px;
    margin-top: -30px;
    margin-left: 100px;
}

.right-container{
    width: 90%;
    
    color: rgb(0, 0, 0);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.right-container h3{
    padding: 20px 300px;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(0, 0, 0);
    font-weight: bolder;
}

form{
    padding-top: 50px;
    margin-left: -70px;
}
.form-floating{
    width: 45%;
    margin: 10px 50px;
    color: rgb(3, 59, 73);
    border: solid 1px #e6e6e6;
    border-radius: 5px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
			0 10px 10px rgba(0,0,0,0.22);    
}


#mapa {
    height: 400px;
    width: 25%;
    position: absolute;
    top: 220px;
    right: 250px;
    border: solid 1px #e6e6e6;
  }

#btn-denunciar{
    margin: 30px 225px;
    padding: 5px;
    width: 55%;
    height: 50px;
    color: #fff;
    background-color: rgb(3, 59, 73);
    font-size: 20px;
    border: solid 1px gray;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
			0 10px 10px rgba(0,0,0,0.22);
    letter-spacing: 1px;
	transition: transform 80ms ease-in;
}

#btn-denunciar:hover{
    background: rgb(9, 49, 53);
    color: #fff;
    transition: all 0.45s ease-in-out;
}

#divlatitud{
    position: absolute;
    right: 420px;
    bottom: 25px;
    width: 160px;
}

#divlongitud{
    position: absolute;
    right: 200px;
    bottom: 25px;
    width: 160px;
}

.ok{
    margin-top: 20px;
    display: block;
    text-align: center;
	width: 100%;
	padding: 12px;
	background-color: #1e6;
	color: #fff;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.bad{
    margin-top: 20px;
    display: block;
	text-align: center;
	width: 100%;
	padding: 15px;
	background-color: #a22;
	color: #e6e6e6;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

